<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.payment.payment_sdk">

    <queries>

        <!-- Detect installed UPI applications -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="upi" />
        </intent>

    </queries>

</manifest>